/* layout */

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  --background-color: #1b244a;
  --hero-text-color: #eeeeee;
  --score-background-color: #080001;
  --score-text-color: #f94f6d;
  --score-btn-text-color: #9aabd8;
  --very-large-size: 90px;
  --large-size: 40px;
  --middle-size: 24px;
  --small-size: 16px;
}

main {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
  box-sizing: inherit;
  padding-left: var(--small-size);
  padding-right: var(--small-size);
}

.vertical-container {
  display: flex;
  flex-direction: column;
}

.block-container {
  place-content: space-around;
  flex: 1 1 auto;
  place-items: center;
}

.score-container {
  background-color: var(--score-background-color);
  display: flex;
  width: 155px;
  height: 120px;
  place-items: center;
  justify-content: center;
}

.action-btn-container {
  justify-content: center;
  color: var(--hero-text-color);
}

.timer-container {
  font-size: var(--middle-size);
  font-weight: bold;
  padding: var(--small-size);
}

.score-btn-container {
  display: flex;
  min-width: 155px;
  min-height: 45px;
  place-content: space-between;
}

#game-over-model-container {
  width: 100%;
  height: 100%;
  position: absolute;
  /* display: none; */
  display: flex;
  place-items: center;
  justify-content: center;
  backdrop-filter: blur(12px);
  top: -9999px;
  left: -9999px;
}

/* typography */

h3 {
  color: var(--hero-text-color);
  font-weight: bold;
  font-size: var(--large-size);
}

p {
  margin: 0px;
  padding: 0px;
}

.score {
  color: var(--score-text-color);
  font-family: "Cursed Timer ULiL", sans-serif;
  font-size: var(--very-large-size);
}

#remaining-time {
  font-size: var(--large-size);
}

#winner-span {
  color: var(--score-text-color);
}

/* button */

button {
  color: var(--score-btn-text-color);
  border: 1px solid var(--score-btn-text-color);
  font-family: "Cursed Timer ULiL", sans-serif;
  background-color: inherit;
  border-radius: 5%;
  text-align: center;
}

.score-btn-container button {
  aspect-ratio: 1 / 1;
  width: 45px;
  font-size: var(--small-size);
}

.action-btn-container button {
  padding: var(--small-size);
  font-size: var(--middle-size);
  font-weight: bold;
}

#game-over-model {
  animation-duration: 2s; /* don't forget to set a duration! */
  font-size: var(--large-size);
  font-weight: bold;
  background-color: var(--score-background-color);
  color: var(--hero-text-color);
  padding: var(--middle-size);
  place-items: center;
  justify-content: center;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

@media (min-width: 1024px) {
  body {
    padding: var(--middle-size) 48px;
    flex-direction: row;
  }

  main {
    flex-direction: row;
    height: 60%;
  }

  #game-over-model {
    flex-direction: row;
  }

  #winner-span {
    margin-left: 8px;
  }
}
