body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  place-content: center;
  padding: 24px 48px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  --background-color: #1b244a;
  --hero-text-color: #eeeeee;
  --score-background-color: #080001;
  --score-text-color: #f94f6d;
  --score-btn-text-color: #9aabd8;
}

.container {
  display: flex;
  background-color: var(--background-color);
  width: 100%;
  height: 60%;
  box-sizing: inherit;
}

.container-block {
  display: flex;
  flex-direction: column;
  place-content: space-around;
  flex: 1 1 auto;
  place-items: center;
}

h3 {
  color: var(--hero-text-color);
  font-weight: bold;
  font-size: 40px;
}

.score-container {
  background-color: var(--score-background-color);
  display: flex;
  width: 155px;
  height: 120px;
  place-items: center;
  justify-content: center;
}

.score {
  color: var(--score-text-color);
  font-family: "Cursed Timer ULiL", sans-serif;
  font-size: 90px;
  margin: 0px;
  padding: 0px;
}

.score-btn-container {
  display: flex;
  min-width: 155px;
  min-height: 45px;
  place-content: space-between;
}

.score-btn-container button {
  color: var(--score-btn-text-color);
  border: 1px solid var(--score-btn-text-color);
  font-family: "Cursed Timer ULiL", sans-serif;
  background-color: inherit;
  border-radius: 5%;
  aspect-ratio: 1 / 1;
  width: 45px;
  font-size: 18px;
  text-align: center;
}
